.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.self-picture {
    width: 100%;
    margin-bottom: 1rem;
}

.about-me-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

.about-me-block h1 {
    margin: 2rem 0;
}

.description {
    text-align: center;
}

@media (min-width: 992px) {
    .self-picture {
        max-width: 70%;
    }
}