.container h1 {
    text-align: left;
    padding: 1.5rem 0;
    text-align: center;
}

.card {
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-wrapper {
    justify-content: center;
    flex-direction: column;
}

section h2 {
    font-size: 1.5rem;
}

i.location-icon {
    font-size: 1.5rem;
    margin: 0.2rem 0.5rem 0 0;
}

section.row {
    align-items: start;
    padding-left: 2rem;
}

.map-container {
    padding: 1.5rem;
    height: 22rem;
}

iframe {
    height:100%;
    width: 100%;
}

@media (min-width: 992px) {
    .card-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
    aside.card {
        width: 30%;
    }
    main.card {
        width: 65%;
    }
}