
body {
    background-color: #BFB5AF;
}

.container {
    background-color: white;
}

.greeting {
    font-size: 1.3rem;
    font-weight: 500;
}

.profile-pict {
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0;
}

.home {
    justify-content: center;
}

.home-buttons button {
    margin: 3px;
}
.home-buttons {
    margin-bottom: 5px;
}

section {
    padding-top: 2rem;
}

.about-me {
    text-align: center;
}

.intro {
    text-align: center;
}

.socials {
    font-size: 2rem;
}

.socials a {
    margin-right: 10px;
}

@media (min-width: 408px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .home {
        padding: 0;
        justify-content: space-around;
    }

    .profile-pict {
        border-radius: 210px 0 0 210px;
        margin: 0;
    }
}