
body {
    background-color: #BFB5AF;
}

.container {
    background-color: white;
}

.greeting {
    font-size: 1.3rem;
    font-weight: 500;
}

.profile-pict {
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0;
}

.home {
    justify-content: center;
}

.home-buttons button {
    margin: 3px;
}
.home-buttons {
    margin-bottom: 0.5rem;
}

section {
    padding-top: 2rem;
}

.about-me {
    text-align: center;
}

.intro {
    text-align: center;
}

.socials {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.socials a {
    margin-right: 10px;
}

/* .skills h2 {
    margin: 3rem 0;
} */

.skills {
    text-align: center;
}

.skillset {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.skill {
    margin: 0 1rem;
    width: 4.5rem;
    text-align: center;
}

.skill-icon {
    font-size: 3.5rem;
}

@media (min-width: 408px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
    .home {
        padding: 0;
        justify-content: space-between;
    }

    .profile-pict {
        border-radius: 210px 0 0 210px;
        margin: 0;
    }

    .intro {
        margin: 3rem 0 0 8rem;
    }
    .skills {
        margin: 2rem auto;
        max-width: 80%;
    }
    .skills h2 {
        margin-bottom: 1rem;
    }
}

@media (min-width: 1200px) {
    .intro {
        margin-left: 12rem;
    }
}