body {
  background-color: rgb(155, 155, 155);
}

.container {
  background-color: rgb(160, 160, 160);
}

.hide {
  display: none;
}

/* ****************************Header Styles****************************** */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid black;
}

header h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

header p {
  font-size: 1.25rem;
}

/* ****************************Main Styles****************************** */

main h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}

section.main-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.disabled {
  filter: grayscale(1);
}

figure {
  border: 2px solid black;
  border-radius: 1rem;
  background: #f2f1f6;
}

figure:hover {
  transform: translate(-12px, -12px);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.choice img {
  width: 18rem;
  height: 18rem;
  border-bottom: 2px solid black;
  border-radius: 1rem 1rem 0 0;
}

figcaption {
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

/* ****************************Play Again Styles****************************** */

section.redo {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 0rem;
}

button.playAgain {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  background-color:#800000;
  color: white;
  font-weight: bold;
}

button.playAgain:hover {
  background-color: #550000;
}

/* ****************************Scoreboard Styles****************************** */

section.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #2f1403;
  border-radius: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

section.scoreboard .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.your-score,
.cpu-score {
  width: 35%;
}

.lives {
  display: flex;
  justify-content: center;
}

.lives img {
  width: 3rem;
}

.middle {
  text-align: center;
  width: 30%;
}

.log-block {
  display: flex;
  justify-content: center;
}

p.log {
  width: 35rem;
  font-size: 1.25rem;
  background: white;
  padding: 1rem 2rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 990px) {
  .choice img {
    width: 13rem;
    height: 13rem;
  }

  figcaption {
    font-size: 1rem;
  }

  .lives img {
    width: 2rem;
  }
}

@media (max-width: 766px) {
  .choice img {
    width: 10rem;
    height: 10rem;
    border-radius:1rem;
  }

  figcaption {
    display: none;
  }

  .lives img {
    width: 1rem;
  }

  p.log {
    width: 80%;
  }

  button.playAgain {
    font-size: 0.75rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
  }
}

@media (max-width: 500px) {

  header h1 {
    margin-top: 0.25rem;
  }

  header p {
    display: none;
  }

  .choice img {
    width: 6rem;
    height: 6rem;
  }

  p.log {
    width: 80%;
    font-size: 1rem;
  }

}